* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    /* Spacing */
    --spacing-0: 0px;
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-700: 56px;
    --spacing-900: 72px;
    --spacing-1100: 88px;
    --spacing-1200: 96px;
    --spacing-1300: 104px;
    --spacing-1600: 128px;
    --spacing-1800: 144px;

    /* colors */

    --white: #FFFFFF;

    --black: #000000;

    --grey-500: #5E6E85;
    --grey-300: #ACC1DE;

    --blue-900: #253347;
    --blue-500: #345FF6;
    --blue-300: #B3D3F1;
    --blue-100: #E1E7FE;

    --gradient-1: #D6FCFF;

    /* Text Preest 1 - Título enorme */
    --text-1-font-family: 'Inter', sans-serif;
    --text-1-font-weight: 600;
    /* Semi Bold */
    --text-1-font-size: 64px;
    --text-1-line-height: 170%;
    --text-1-letter-spacing: -5%;
    /* letter-spacing não aceita % direto, convertendo para em */
    --text-1-letter-spacing-em: -0.05em;

    /* Text Preest 2 - Título grande */
    --text-2-font-family: 'Inter', sans-serif;
    --text-2-font-weight: 600;
    /* Semi Bold */
    --text-2-font-size: 48px;
    --text-2-line-height: 170%;
    --text-2-letter-spacing-em: -0.05em;

    /* Text Preest 3 - Título médio */
    --text-3-font-family: 'Inter', sans-serif;
    --text-3-font-weight: 600;
    /* Semi Bold */
    --text-3-font-size: 32px;
    --text-3-line-height: 110%;
    --text-3-letter-spacing-em: -0.05em;

    /* Text Preest 4 - Subtítulo */
    --text-4-font-family: 'Inter', sans-serif;
    --text-4-font-weight: 600;
    /* Semi Bold */
    --text-4-font-size: 24px;
    --text-4-line-height: 120%;
    --text-4-letter-spacing-em: -0.05em;

    /* Text Preest 5 - Corpo maior */
    --text-5-font-family: 'Inter', sans-serif;
    --text-5-font-weight: 600;
    /* Semi Bold */
    --text-5-font-size: 20px;
    --text-5-line-height: 120%;
    --text-5-letter-spacing-em: -0.05em;

    /* Text Preest 6 - Corpo Semi Bold */
    --text-6-font-family: 'Inter', sans-serif;
    --text-6-font-weight: 600;
    /* Semi Bold */
    --text-6-font-size: 16px;
    --text-6-line-height: 150%;
    --text-6-letter-spacing-em: 0;

    /* Text Preest 7 - Corpo Bold */
    --text-7-font-family: 'Inter', sans-serif;
    --text-7-font-weight: 700;
    /* Bold */
    --text-7-font-size: 14px;
    --text-7-line-height: 150%;
    --text-7-letter-spacing-em: 0;

    /* Text Preest 8 - Texto pequeno Regular */
    --text-8-font-family: 'Inter', sans-serif;
    --text-8-font-weight: 400;
    /* Regular */
    --text-8-font-size: 10px;
    --text-8-line-height: 150%;
    --text-8-letter-spacing-em: 0;

    /* Text Preest 9 - Texto pequeno Bold */
    --text-9-font-family: 'Inter', sans-serif;
    --text-9-font-weight: 700;
    /* Bold */
    --text-9-font-size: 14px;
    --text-9-line-height: 150%;
    --text-9-letter-spacing-em: 0;
}