* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    /* Spacing */
    --spacing-0: 0px;
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-700: 56px;
    --spacing-900: 72px;
    --spacing-1100: 88px;
    --spacing-1200: 96px;
    --spacing-1300: 104px;
    --spacing-1600: 128px;
    --spacing-1800: 144px;

    /* colors */

    --white: #FFFFFF;

    --black: #000000;

    --grey-500: #5E6E85;
    --grey-300: #ACC1DE;

    --blue-900: #253347;
    --blue-500: #345FF6;
    --blue-300: #B3D3F1;
    --blue-100: #E1E7FE;

    --gradient-1: #D6FCFF;

    /* Fonts */

    /* Text Preset 1 */
    --text-1: 600 64px/1.1 "Inter", sans-serif;
    --text-1-letter-spacing: -0.05em;

    /* Text Preset 2 */
    --text-2: 600 48px/1.1 "Inter", sans-serif;
    --text-2-letter-spacing: -0.05em;

    /* Text Preset 3 */
    --text-3: 600 32px/1.1 "Inter", sans-serif;
    --text-3-letter-spacing: -0.05em;

    /* Text Preset 4 */
    --text-4: 600 24px/1.2 "Inter", sans-serif;
    --text-4-letter-spacing: -0.05em;

    /* Text Preset 5 */
    --text-5: 600 20px/1.2 "Inter", sans-serif;
    --text-5-letter-spacing: -0.05em;

    /* Text Preset 6 - SemiBold */
    --text-6-semibold: 600 16px/1.5 "Inter", sans-serif;
    --text-6-semibold-letter-spacing: 0em;

    /* Text Preset 6 - Regular */
    --text-6-regular: 400 16px/1.5 "Inter", sans-serif;
    --text-6-regular-letter-spacing: 0em;

    /* Text Preset 7 - Bold */
    --text-7-bold: 700 14px/1.5 "Inter", sans-serif;
    --text-7-bold-letter-spacing: 0em;

    /* Text Preset 7 - Regular */
    --text-7-regular: 400 14px/1.5 "Inter", sans-serif;
    --text-7-regular-letter-spacing: 0em;
}



/* Header and hero styles */
.header-text-content {
    background: linear-gradient(to right, white 0%, #D6E6FE 100%);
    padding: var(--spacing-400) var(--spacing-300) 0px var(--spacing-300);
    border-end-end-radius: var(--spacing-400);

    img {
        width: 36.72px;
        height: 36.72px;
        display: block;
        margin: auto;

    }

    h1 {
        font: var(--text-2);
        letter-spacing: var(--text-preset-2-letter);
        text-align: center;
        padding: var(--spacing-300) var(--spacing-300);
        color: var(--blue-900);
    }

    p {
        padding-bottom: var(--spacing-1800);
        font: var(--text-6-regular);
        color: var(--grey-500);
    }
}

/* BMI calculator box styles */
.main-calculator-content {
    padding: var(--spacing-300);
    margin: -110px var(--spacing-300) 0px var(--spacing-300);
    background-color: var(--white);
    border-radius: var(--spacing-200);
    border: 1px solid ;
    h2 {
        font: var(--text-4);
        letter-spacing: var(--text-4-letter-spacing);
        text-align: center;
    }
}

/* Choice box styles */
.choice-box {
    padding: var(--spacing-300) var(--spacing-300);
    display: flex;
    justify-content: space-between;

    font: var(--text-6-semibold);
    letter-spacing: var(--text-6-semibold-letter-spacing);
    color: var(--blue-900);
}

/* class for the div that disappears in the metric */
.displayNone {
    display: none;
}

/* class for number input fields */
.metric-box {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    flex-wrap: wrap;
    position: relative;

    label {
        font: var(--text-7-regular);
        color: var(--grey-500);
    }

    input {
        padding: var(--spacing-300);
        border-radius: 12px;
        border-color: var(--grey-500);
        color: var(--blue-900);
        font: var(--text-4);
        max-width: 296px;
    }

    span {
        position: absolute;
        right: 27px;
        top: 63%;
        transform: translateY(-50%);
        color: var(--blue-500);
        font: var(--text-4);
    }

    input::placeholder{
        color: var(--blue-900);
    }
}

.metric-height{
    margin-bottom: var(--spacing-200);
}

.metric-weight{
    margin-bottom: var(--spacing-300);
}